.vscode/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/public/**
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/vite.config.js
webview-ui/tailwind.config.js
webview-ui/postcss.config.js
webview-ui/index.html
venv/**
.git/**
*.log
*.vsix
ipupdate.bat

